[submodule "lib/resources/uureport"]
	path = lib/resources/uureport
	url = https://github.com/jkorb/uureport
[submodule "lib/resources/uucls"]
	path = lib/resources/uucls
	url = https://github.com/UtrechtUniversity/uucls.git
